html,body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Topo */

.logo{
    height: 80px;;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

nav{
    margin: 10px;
    display: flex;
    flex-direction: column;
}

nav a{
    color: #333333;
    font-size: 1.2rem;
    text-decoration: none;
}

nav a:hover{
    color: #999999;
}

/* Main */

main{
    text-align: center;
}

.destaque{
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.destaque img{
    margin: 10px;
}

footer{
    text-align: center;
}

@media (min-width: 768px){
    header{
        justify-content: center;
        flex-direction: row;
    }
    nav{
        flex-direction: row;
    }
}